@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}


:root{
    --cor-01: #FFB000;
    --cor-02: #3838BA;

    --font-righteous: 'Righteous', cursive;
    --font-sarala: 'Sarala', sans-serif;
}

body{
    background: linear-gradient(252.44deg, var(--cor-01) 0%, var(--cor-02) 100%);  
    font-size: 100%;
}

/*Header Inicio*/
.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem{
    height: 72px;
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item{
    font-family: var(--font-sarala);
    color: beige;
    font-weight: 400;
    font-size: 18px;
}
/*Header Fim*/




/*Main Inicio*/

.conteudo{
    border-top: 1.5px solid beige;
    margin-bottom: 48px;
}


/*Primário section*/
.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo{
    font-family: var(--font-righteous);
    color: beige;
    font-weight: 400;
    font-size: 64px;
}

.conteudo-principal-escrito-subtitulo{
    font-family: var(--font-sarala);
    color: beige;
    font-weight: 400;
    font-size: 24px;
}

.conteudo-principal-escrito-botao{
    background-color: #ecd6c4;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: var(--font-sarala);
    color: rgba(0, 0, 0, 0.829);
    font-weight: 400;
    font-size: 24px;
}

.conteudo-principal-escrito-botao:hover{
    background-color: rgba(236, 214, 196, 0.56);
}

.conteudo-principal-imagem{
    height: 430px;
    padding: 40px;
}


/*Secundário section*/
.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo{
    border-top: 1.5px solid beige;
    padding-top: 48px;
    font-family: var(--font-righteous);
    font-weight: 400;
    color: beige;
    font-size: 24px;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo{
    font-family: var(--font-sarala);
    color: beige;
    font-weight: 300;
    font-size: 18px;
}
/*Main Fim*/

/*Footer Inicio*/
.rodape{
    padding: 16px;
    border-top: 1.5px solid beige;
}

.rodape-imagem{
    height: 72px;
    display: block;
    margin: 0 auto;
}
/*Footer Fim*/



/*Responsividade*/

@media (max-width: 767px){
    .cabecalho{
        display: flex;
        flex-direction: column;
    }
    
    .cabecalho-menu{
        text-align: center;
    }

    .cabecalho-menu-item{
        font-size: 14px;
        padding-top: 24px;
    }

    .conteudo-principal-escrito{
        align-items: center;
    }

    .conteudo-principal-escrito-titulo{
        font-size: 48px;
        margin-top: 32px;
    }

    .conteudo-principal-escrito-subtitulo{
        text-align: center;
        padding: 0px 32px;
    }
    
    .conteudo-principal{
            display: flex;
            flex-direction: column;
    }

    .conteudo-principal-imagem{
        height: 330px;
    }

    .conteudo-secundario-paragrafo{
        padding: 0px 32px;
        text-align: justify;
    }

}

@media (max-width: 320px){
    .cabecalho{
        display: flex;
        flex-direction: column;
    }
    
    .cabecalho-menu{
        text-align: center;
    }

    .cabecalho-menu-item{
        font-size: 14px;
        padding-top: 24px;
    }

    .conteudo-principal-escrito{
        align-items: center;
    }

    .conteudo-principal-escrito-titulo{
        font-size: 48px;
        margin-top: 32px;
    }

    .conteudo-principal-escrito-subtitulo{
        text-align: center;
        padding: 0px 32px;
    }
    
    .conteudo-principal{
            display: flex;
            flex-direction: column;
    }

    .conteudo-principal-imagem{
        height: 330px;
    }

    .conteudo-secundario-paragrafo{
        padding: 0px 32px;
    }
}
